<%- include('partials/_header') %>

<div class="aprendices mt-5">
	<h2>Listado de Aprendices</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Item</th>
				<th>Identificacion</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Ficha</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<% data.forEach(aprendiz => { %>
		        <tr>
					<td><%= aprendiz.id %></td>
					<td><%= aprendiz.identificacion %></td>
					<td class="text-start"><%= aprendiz.nombre %></td>
					<td class="text-start"><%= aprendiz.apellido %></td>
					<td><%= aprendiz.ficha %></td>
					<td class="text-center">
						<a href="/consulta/eliminar/<%= aprendiz.id %>" title="Eliminar"><i class="bi bi-trash3"></i></a>
						<a href="/consulta/actualizar/<%= aprendiz.id %>" title="Editar"><i class="bi bi-pencil-square"></i></a>
					</td>
		        </tr>
	      	<% }) %>
		</tbody>
	</table>
</div>

<%- include('partials/_footer'); %>